---
import Button from '../components/Button.astro'
---

<section>
    <div class="mx-auto max-w-screen-xl lg:px-6 mb-20">
        <div class="mx-auto max-w-screen-sm text-center">
            <h2 class="mb-4 text-2xl md:text-4xl tracking-tight font-extrabold leading-tight text-white dark:text-white">Servicio en Bahía de Banderas</h2>
            <p class="mb-6 font-medium text-white/60 dark:text-gray-400 md:text-lg">Altavela | Mezcales | Bucerías | Valle Dorado | San Vicente</p>
            <a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener" class="text-white">
                <Button>WhatsApp</Button>
            </a>
        </div>
    </div>
</section>