<div class="flex items-center justify-center">
    <span class="bg-[#00bb2d] text-white text-md font-semibold me-2 px-8 py-4 rounded-full border-[2px] border-[#00bb2d] hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#00bb2d]/60 hover:shadow-primary-2 transition"><slot /></span>
</div>