<div class="block gap-8 items-center justify-center lg:flex">
	<div class="w-full max-w-sm bg-white/80 backdrop:blur rounded-lg shadow hover:scale-105 transition duration-200">
		<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
			<img class="p-8 rounded-t-lg" src="/images/tiras-monchis.jpg" alt="product image" />
		</a>
		<div class="px-5 pb-5 mb-4">
			<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
				<h5 class="text-xl font-semibold tracking-tight text-[#e21039]">Tiras Mochis</h5>
			</a>
			<div class="flex items-center mt-2.5 mb-5">
				<div class="flex items-center space-x-1 rtl:space-x-reverse">
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039] dark:text-gray-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
				</div>
				<span class="bg-[#e21039] text-white text-xs font-semibold px-2.5 py-0.5 rounded ml-2">5.0</span>
			</div>
		</div>
	</div>

	<div class="w-full max-w-sm bg-white/80 backdrop:blur rounded-lg shadow hover:scale-105 transition duration-200">
		<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
			<img class="p-8 rounded-t-lg" src="/images/papas-cargadas.jpg" alt="product image" />
		</a>
		<div class="px-5 pb-5 mb-4">
			<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
				<h5 class="text-xl font-semibold tracking-tight text-[#e21039]">Papas Cargadas</h5>
			</a>
			<div class="flex items-center mt-2.5 mb-5">
				<div class="flex items-center space-x-1 rtl:space-x-reverse">
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
				</div>
				<span class="bg-[#e21039] text-white text-xs font-semibold px-2.5 py-0.5 rounded ml-2">5.0</span>
			</div>
		</div>
	</div>

	<div class="w-full max-w-sm bg-white/80 backdrop:blur rounded-lg shadow hover:scale-105 transition duration-200">
		<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
			<img class="p-8 rounded-t-lg" src="/images/alitas-mango-habanero.jpg" alt="product image" />
		</a>
		<div class="px-5 pb-5 mb-4">
			<a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener">
				<h5 class="text-xl font-semibold tracking-tight text-[#e21039]">Alitas Mango Habanero</h5>
			</a>
			<div class="flex items-center mt-2.5 mb-5">
				<div class="flex items-center space-x-1 rtl:space-x-reverse">
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#e21039]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
					<svg class="w-4 h-4 text-[#101413]/80" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
						<path d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z"/>
					</svg>
				</div>
				<span class="bg-[#e21039] text-white text-xs font-semibold px-2.5 py-0.5 rounded ml-2">4.0</span>
			</div>
		</div>
	</div>
</div>