<footer>
    <div class="w-full text-center mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
      <span class="text-sm text-white font-medium sm:text-center">Hecho con 💜 por <a href="https://gonzz.dev" class="hover:underline transition duration-200">Gonzz</a>
    </span>
    </div>
</footer>
