---


const navItems = [
  {
    title: "Home",
    label: "home",
    url: "#",
  },
  {    
    title: "Menú",
    label: "menu",
    url:"/#menu",
  },
  {    
    title: "Historia",
    label: "historia",
    url:"/#historia",
  },
  {    
    title: "Social",
    label: "social",
    url:"/#social",
  },
  {    
    title: "Merch",
    label: "merch",
    url:"/#merch",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto"
>

  <nav
    class="flex px-4 text-sm font-semibold rounded-md text-white justify-center items-center"
  >
    {
        navItems.map((link) => (
            <a
                class="relative block px-2 py-2 transition hover:text-[#ffeb33]"
                aria-label={link.label}
                href={link.url}
            >
                {link.title}
            </a>
        ))
    }

  </nav>
</header>

<script>
    document.addEventListener("astro:page-load", () => {
      const sections = document.querySelectorAll("section")
      const navItems = document.querySelectorAll("header nav a")
  
      const callback = (entries: any[]) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            navItems.forEach((item) => {
              if (item.getAttribute("aria-label") == entry.target.id) {
                item.classList.add("text-yellow-500")
              } else {
                item.classList.remove("text-yellow-500")
              }
            })
          }
        })
      }
  
      const observer = new IntersectionObserver(callback, {
        root: null,
        rootMargin: "0px",
        threshold: 0.3,
      })
  
      sections.forEach((section) => {
        observer.observe(section)
      })
  
      // Cleanup function
      document.onvisibilitychange = () => {
        if (document.visibilityState === "hidden") {
          observer.disconnect()
        } else {
          sections.forEach((section) => {
            observer.observe(section)
          })
        }
      }
    })
  </script>
  
  <style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-[#101413] bg-[#e21039]/80 ring-[#e21039]/10;
      }
    }
  </style>