---


const navItems = [
  {
    title: "Home",
    label: "home",
    url: "#",
  },
  {    
    title: "Menú",
    label: "menu",
    url:"/#menu",
  },
  {    
    title: "Historia",
    label: "historia",
    url:"/#historia",
  },
  {    
    title: "Social",
    label: "social",
    url:"/#social",
  },
  {    
    title: "Merch",
    label: "merch",
    url:"/#merch",
  },
]
---

<header
  class="fixed top-0 z-10 flex items-center justify-center bg-[#e21039] w-full mx-auto"
>

  <nav
    class="flex px-4 text-sm font-semibold rounded-md text-white justify-center items-center"
  >
    {
        navItems.map((link) => (
            <a
                class="relative block px-2 py-2 transition hover:text-[#ffeb33]"
                aria-label={link.label}
                href={link.url}
            >
                {link.title}
            </a>
        ))
    }

  </nav>
</header>