<section>
    <div class="py-8 lg:py-8 items-center justify-center mx-auto max-w-screen-xl">
        <h2 class="mb-4 lg:mb-8 mt-8 text-2xl font-extrabold tracking-tight leading-tight text-center text-white md:text-4xl">¡Síguenos en redes sociales y has tu pedido!</h2>
        <div class="flex gap-10 items-center justify-center sm:gap-20">

            <a href="https://api.whatsapp.com/send?phone=5213221179025&text=%F0%9F%91%8B%F0%9F%8F%BD%20%C2%A1Hola!%20%20Hoy%20es%20d%C3%ADa%20de%20Monchis.%20Quiero%20hacer%20un%20pedido.%20" target="_blank" rel="noopener" class="flex w-10 hover:scale-150 transition duration-400">
                <img src="/images/icons/whatsapp.svg" alt="">
            </a>
            <a href="https://www.facebook.com/profile.php?id=61553701292705" target="_blank" rel="noopener" class="flex w-10 hover:scale-150 transition duration-400">
                <img src="/images/icons/facebook.svg" alt="">
            </a>
            <a href="https://instagram.com/don.monchis.shop/" target="_blank" rel="noopener" class="flex w-14 hover:scale-150 transition duration-400">
                <img src="/images/icons/instagram.svg" alt="">
            </a>
            <a href="https://www.tiktok.com/@donmonchisshop?_t=8nYxmt0iEVC&_r=1" target="_blank" rel="noopener" class="flex w-10 hover:scale-150 transition duration-400">
                <img src="/images/icons/tiktok.svg" alt="">
            </a>

        </div>
    </div>
</section>