<section class="bg-[#e21039] backdrop-blur rounded-lg">
    <div class="gap-16 py-4 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-medium align-top text-white sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Nuestra historia</h2>
            <p class="mb-4">Somos una cocina fantasma especializada en snacks, papas fritas, alitas y pollo frito. "Delicioso y Chingón" es nuestro lema.</p>
            <p>Empezamos en 2024 solo con una freidora, vendiendo papas a la francesa. Seguimos trabajando hasta conseguir nuestra receta perfecta y una marca reconocible. Hoy nos ponemos a su servicio con los mejores snacks de Bahía de Banderas.</p>
            <a href="https://www.behance.net/gallery/196862755/Don-Monchis-Logo-Design" target="_blank" rel="noopener"><button class="bg-white text-[#e21039] text-md font-semibold me-2 px-4 py-1 mt-4 rounded-lg border-[2px] border-white hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#e21039]/60 hover:shadow-primary-2 transition">Ver más</button></a>
        </div>
        <div class="grid gap-4 mt-8 items-center justify-center">
            <img class="w-[400px] rounded-lg" src="/images/post.png" alt="office content 1">
        </div>
    </div>
</section>