<section class="bg-[#101413] rounded-lg">
    <div class="gap-16 py-4 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-10 lg:px-6">
        <div class="font-medium align-top text-white sm:text-lg">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">Nuestra historia</h2>
            <p class="mb-4">Somos una cocina especializada en snacks, papas, pollo y mucho más. Puro sabor del rico y chingón. Hoy relajate que cocinamos nosotros.</p>
            <p>Nace del amor a la comida monchosa, especial para salidas con los amigos, para pasarlo bonito en familia o solo por monchis. </p>
            <a href="https://www.behance.net/gallery/196862755/Don-Monchis-Logo-Design" target="_blank" rel="noopener"><button class="bg-white text-[#101413] text-md font-semibold me-2 px-4 py-1 mt-4 rounded-lg border-[2px] border-white hover:scale-110 hover:text-[#e8e4ea] hover:bg-[#e21039] hover:shadow-primary-2 transition">Ver más</button></a>
        </div>
        <div class="grid gap-4 mt-8 items-center justify-center">
            <img class="w-[500px] rounded-lg" src="/images/post-2.png" alt="office content 1">
        </div>
    </div>
</section>