---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.webp" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<video autoplay muted loop id="background-video">
			<source src="/images/background.mp4" type="video/mp4" />
			Your browser does not support the video tag.
		</video>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
	}

	html {
		font-family: 'Montserrat', sans-serif;
		scroll-behavior: smooth;
	}

	body {
		background: #101413;
		display: block;
		justify-content: center;
		min-height: 100vh;
	}

	#background-video {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 60%;
		object-fit: cover;
		z-index: -1;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}

	#content {
		position: relative;
		z-index: 1;
	}
</style>
